
body {
    padding-top: 52px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
    padding: 15px 0 15px 30px;
}

.navbar-fixed-top .navbar-brand {
    padding: 5px 15px;
}

@media(min-width:768px) {
    #banner {
        width: 800px;
    }
    body {
        padding-top: 82px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px;
    }

    .center-block() {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    #banner_wrap, .home{
      width: 830px;
      .center-block();
    }

    .navtext {
      font-size: 18px;
      font-family: 微軟正黑體;
    }
}
