#admin_header_wrap {
  display: block;
}

#nav_header {
  margin-bottom: 0px;
}

#admin_header a {
  height: 70px;
}

#admin_header button {
  margin-top: 18px;
}

#admin_header {
  display: inline-block;
}

#ul_header {
  float: right;
}

#ul_header {
  margin-top: 15px;
}

#ul_header li {
  display: block;
}

#sub_product {
  padding-left: 15px;
}

#product_right_icon {
  float: right;
}

#admin_nav_list {
  padding: 0px;
}

.navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: auto;
    z-index: 1000;
    display: block;;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media (min-width:768px) {
  #ul_header {
    margin-top: 10px;
  }

  #admin_nav_wrap {
    font-size: 18px;
  }

  #menu_product span {
    font-size: 14px;
    padding-top: 4px;
  }
}
